<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two Truths and a Lie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="page-title">Two Truths and a Lie</h1>
        <div id="waiting-container">
            <strong><p>Waiting for the player to start the game...</p></strong>
        </div>
        <div id="vote-container" style="display: none;">
            <div class="profile-card">
                <h2>Player: <span id="player-name"></span></h2>
                <img id="player-image" src="" alt="Player's picture" class="profile-image">
            </div>
            <strong><p id="vote-status-message">Choose which one is the lie.</p></strong>
            <form id="vote-form">
                <div>
                    <input type="radio" id="statement1" name="lie_choice" value="1">
                    <label for="statement1" id="label1"></label>
                </div>
                <div>
                    <input type="radio" id="statement2" name="lie_choice" value="2">
                    <label for="statement2" id="label2"></label>
                </div>
                <div>
                    <input type="radio" id="statement3" name="lie_choice" value="3">
                    <label for="statement3" id="label3"></label>
                </div>
                <button type="submit" class="button">Submit vote</button>
            </form>
        </div>
        <div id="result-container" style="display: none;">
            <h2>Live Results:</h2>
            <ul id="results-list"></ul>
        </div>
        <div id="final-results-container" style="display: none;">
            <h2>Final Results:</h2>
            <ul id="final-results-list"></ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
